.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/927/052/original/set-cute-police-chibi-character-vector.jpg");
  background-size: contain;
}

.container-result {
  margin: 0 200px;
}
.child-result {
  /* overflow: scroll; */
  background-color: green;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 5px;
  border-color: green;
  border-radius: 20px;
  padding: 20px;
}
.custom-text {
  color: rgb(8, 0, 0);
  font-size: 18px;
  font-weight: 500;
}

.custom-ans-correct {
  color: rgb(235, 227, 227);
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(14, 243, 68, 0.621);

  border-radius: 10px;
  padding: 10px;
}

.custom-ans-incorrect {
  color: rgb(244, 240, 240);
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(243, 14, 14, 0.621);
  border-radius: 10px;
  padding: 10px;
}
.title {
  color: white;
  text-shadow: 2px 2px rgb(14, 14, 13);
  font-size: 24px;
  font-weight: 600;
  text-align: center; /* Căn giữa theo chiều ngang */
  display: flex; /* Căn giữa theo chiều dọc */
  align-items: center;
  justify-content: center;
  border-radius: 5px 20px 5px;
  background: #bada55;
  margin: 10px auto;
}

.button-home {
  position: absolute;
  top: 0;
  left: 0;
  margin: 50px;
  background-color: green;
  font-size: 26px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-home {
  color: white;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fcf;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fcf transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ----------------- */

.container-question1 {
  background-color: #44c444;

  display: flex;
  align-items: center;
  justify-content: center;
}
.child-question1 {
  border-style: solid;
  background-color: pink;
  opacity: 0.95;
  border-width: 5px;
  border-color: yellow;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
}
.question1 {
  margin-bottom: 10px;
  color: rgb(6, 6, 6);
  font-size: 20px;
  font-weight: 500;
}
.list-answer {
  color: #141203;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
